body{
  margin: 0px;
  padding: 0px;
 background-color: rgb(232, 234, 255);
 font-family: monospace;
}

header{
  background-color: aliceblue;
}



.reviewContainer{
  width: 100vw;
  display: flex;
  direction: collumn;
  flex-flow: wrap;
  justify-content: center;
  grid-template-rows: auto;
  gap: 10px;
}

.reviewCard { 

  background-color: rgb(64, 64, 64);
  width: 23vw;
  color: white;
  transition: all 0.4s ease-in-out;
  min-width: 300px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 3px 3px rgb(64, 64, 64);
}

.reviewCard:hover{
  transform: scale(1.02);
}

img{
  width: 100%;
  bottom: 0px;
}

.navBar{
  display: flex;
  gap: 40px;
}

.navBar > form {
  margin-top: 20px;
}

#loadingScreen{
  background-color: #EFF8FE;
  text-align: center;
  background-repeat: none;
  height: 100vh;
  padding-top: 50px;
}

.commentSection{
  width: 100vw;
  direction: collumn;
  text-align: center;

}

.commentCard{
  width: 30%;
  margin: 20px auto;
  padding: 10px;
  background-color: #EFF8FE;
  border-radius: 20px;
  min-width: 200px;
}
.material-symbols-outlined:hover{
  cursor: pointer;

}

.material-symbols-outlined-blue {
  color:rgb(0, 106, 255);
  font-variation-settings:
  'FILL' 10,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#commentForm{
  /* background-color:aquamarine; */

  min-width: 200px; 
  display: inline-block;
}
.inputsOnForm {
  /* background-color: aquamarine; */
  display: block;
  margin: 30px;
  border-radius: 10px;
  min-width: 200px; 
  /* border: solid, 1px black; */
  padding: 8px 10px;
}

.commentBody{

  min-height: 100px;
}
.commentBody::placeholder{
  position: absolute;
  margin-top: 10px;
  
} 


#positiveInputValidation{
  display: none;
  color: green;
}

#negativeInputValidation{
  display: none;
  color: red;
}

#confirmationMessage{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: 0px auto;
  width: 40%;
  height: 50px;  
  border: solid 2px rgb(0, 255, 64);
  background-color: rgba(205, 235, 205, 0.95);
  border-radius: 20px;
  padding: 20px;
  display: none;
}