body{
  margin: 0px;
  padding: 0px;
 background-color: rgb(232, 234, 255);
}

header{
  background-color: aliceblue;
}



.reviewContainer{
  width: 100vw;
  display: flex;
  direction: collumn;
  flex-flow: wrap;
  justify-content: center;
  grid-template-rows: auto;
  gap: 10px;
}

.reviewCard { 

  background-color: rgb(64, 64, 64);
  width: 23vw;
  color: white;
  transition: all 0.4s ease-in-out;
  min-width: 300px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 3px 3px rgb(64, 64, 64);
}

.reviewCard:hover{
  transform: scale(1.02);
}

img{
  width: 100%;
  bottom: 0px;
}

.navBar{
  display: flex;
  gap: 40px;
}

.navBar > form {
  margin-top: 20px;
}