body{
  margin: 0px;
  padding: 0px;
 background-color: rgb(232, 234, 255);
 font-family: monospace;
}

header{
  background-color: aliceblue;
}



.reviewContainer{
  width: 100vw;
  display: flex;
  direction: collumn;
  flex-flow: wrap;
  justify-content: center;
  grid-template-rows: auto;
  gap: 10px;
}

.reviewCard { 

  background-color: rgb(64, 64, 64);
  width: 23vw;
  color: white;
  transition: all 0.4s ease-in-out;
  min-width: 300px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 3px 3px rgb(64, 64, 64);
}

.reviewCard:hover{
  transform: scale(1.02);
}

img{
  width: 100%;
  bottom: 0px;
}

.navBar{
  display: flex;
  gap: 40px;
}

.navBar > form {
  margin-top: 20px;
}

#loadingScreen{
  background-color: #EFF8FE;
  text-align: center;
  background-repeat: none;
  height: 100vh;
  padding-top: 50px;
}

.commentSection{
  width: 100vw;
  direction: collumn;
  text-align: center;

}

.commentCard{
  width: 30%;
  margin: 20px auto;
  padding: 10px;
  background-color: #EFF8FE;
  border-radius: 20px;
}
.material-symbols-outlined:hover{
  cursor: pointer;

}

.material-symbols-outlined-blue {
  color:rgb(0, 106, 255);
  font-variation-settings:
  'FILL' 10,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
